<div class="header">
  <select
    [(ngModel)]="selectedConvertCurrency"
    (ngModelChange)="updateTopList()"
  >
    <option
      *ngFor="let option of convertCurrencyOptions"
      [value]="option.value"
    >
      {{option.label}}
    </option>
  </select>
  <input
    placeholder="Search..."
    [(ngModel)]="searchValue"
    (ngModelChange)="onSearchValueChange()"
  />
  <button (onClick)="updateTopList()">
    Refresh
  </button>
</div>
<div class="grid">
  <currency-card
    *ngFor="let currency of filteredCurrencies"
    [currency]="currency"
    [convertCurrency]="selectedConvertCurrency"
  ></currency-card>
</div>
